body {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('/src/images/hero-sm_x1.jpeg'),
    url('/src/images/allBg-sm_x1.jpeg');
  background-repeat: no-repeat;
  background-position: top 0px center, top 364px center;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('/src/images/hero-sm_x2.jpeg'),
      url('/src/images/allBg-sm_x2.jpeg');
  }

  @media screen and (min-width: 768px) {
    background-image: url('/src/images/hero-md_x1.jpeg'),
      url('/src/images/allBg-md_x1.jpeg');

    background-position: top 0px center, top 364px center, top 0px center;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/hero-md_x2.jpeg'),
        url('/src/images/allBg-md_x2.jpeg');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url('/src/images/hero-lg_x1.jpeg'),
      url('/src/images/allBg-lg_x1.jpeg'), url('/src/images/decor-bg_lg.png');

    background-position: top 0px center, top 446px center;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('/src/images/hero-lg_x2.jpeg'),
        url('/src/images/allBg-lg_x2.jpeg');
    }
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 320px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 16px;
    padding-right: 16px;
    max-width: 1280px;
  }
}
