<header>
  <div class="container">
    <div class="rad"></div>
    <!-- <div class="header__logo">
      <svg class="logo">
        <use class="logo-icon" href="./images/logo.svg#logo-icon"></use>
      </svg> 
    </div> -->

    <div class="header-text">
      <h1 class="header-title">FIND BEST EVENTS AROUND THE WORLD</h1>
    </div>
    <!-- <label> -->
    <span class="modal-wrap">
      <input
        type="text"
        name="startSearch"
        placeholder="Start searching"
        required="required"
      />
      <select name="сhoose-country" required="required">
        <option name="chooseCountry" value="">Choose country</option>
      </select>
    </span>
    <!-- </label> -->
  </div>
</header>
