<div class="backdrop is-hidden">
  <div class="modal">
    <button class="modal__btn--close">
      <svg class="icon icon-close" width="17" height="17">
        <use href="./images/close.svg#icon-close"></use>
      </svg>
    </button>
    <a
      href="https://www.google.com.ua/maps/place/{{_embedded.venues.0.city.name}},{{_embedded.venues.0.address.line1}}"
      class="info-item__location"
      >{{_embedded.venues.0.city.name}},{{_embedded.venues.0.address.line1}}
    </a>
    <div class="modal__markup"></div>

    <button class="modal__btn--more">MORE FROM THIS AUTHOR</button>
  </div>
</div>
