.events-container {
  padding-top: 120px;
}
.event-list {
  margin: 0px auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.event-item {
  border: 1px solid wheat;
  padding: 19px;
  width: 300px;
}

.event-item__info {
  color: #fff;
}

.event-item__img {
  width: 300px;
  height: 230px;
}

.no-event{
  font-size: 30px;
  color: #fff;
  display: flex;
  justify-content: center;
}