.footer__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1, 25;
  text-align: center;
  color: #939393;
}
.footer__container {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
}
