body {
    position: relative;
    background-color: black;
}

header {

    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    
    padding-bottom: 56px;

    @media screen and (min-width: 320px) {
        background-image: url(../images/logo-s.png);
        padding-left: 20px;
        padding-right: 20px;

    }

    @media screen and (min-width: 768px) {
        background-image: url(../images/logo-m.png);
        padding-left: 32px;
        padding-right: 32px;
        padding-bottom: 80px;
    }

    @media screen and (min-width: 1200px) {
        background-image: url(../images/logo-l.png);
        height: 100%;
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 120px;
    }
}


// .header__logo {
//     color: var(----title-text-color);
//     position: relative;

//     z-index: 100;
// }

// .logo {
//     width: 60px;
//     height: 40px;
//     margin-top: 20px;

//     @media screen and (min-width: 768px) {
//         width: 100px;
//         height: 100px;

//     }

//     @media screen and (min-width: 1200px) {
//         // width: 230px;
//         // height: 190px;
//     }
// }

.logo-icon {
    width: 100px;
    height: 100px;
}

.header-title {

    color: var(--accent-color);
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    width: 280px;
    height: 44px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        font-size: 30px;
        line-height: 37px;
        width: 400px;
        height: 74px;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        font-size: 50px;
        line-height: 61px;
        width: 608px;
        height: 122px;
        margin-bottom: 48px;
    }
}

.modal-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 24px;

    @media screen and (min-width: 768px) {
        gap: 32px
    }

}

.modal-wrap input,
.modal-wrap select {
    width: 280px;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    color: var(--grey-text-color);
    border-radius: 20px;
    padding: 10px 32px;
    border: none;
    outline: none;
    resize: none;

    @media screen and (min-width: 768px) {
        width: 336px;
        height: 40px;
    }

    @media screen and (min-width: 1200px) {
        width: 288px;
        height: 40px;
    }



    &:hover,
    &:focus {
        border-color: var(--accent-color);
    }
}