.pagination {
  display: flex;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;
  list-style: none;
  justify-content: center;
  align-items: center;
};

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
};

.page {
  display: flex;
  justify-content: space-between;
  padding: 5px 12px 5px 12px;
  cursor: pointer;
  &:hover {
    border: 1px solid #DC56C5;
    color: #DC56C5;
    border-radius: 10px 0px;
  }
};

.active-page {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DC56C5;
  border: 1px solid #DC56C5;
  border-radius: 10px 0px;
  animation: changePage 0.5s ease-in-out;
};

@keyframes changePage {
  0% {
    transform: scale(1.0);
    opacity: 1;
  }

  50% {
    transform: scale(1.7);
    opacity: 0.5;
  }

  100% {
    transform: scale(2.0);
    opacity: 0.1;
  }
}
