.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background: #0c0b0c;
  background-image: linear-gradient(
    136.07deg,
    rgba(196, 196, 196, 0.03) 10.75%,
    rgba(196, 196, 196, 0) 92.33%
  );

  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #dc56c5;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.preloader  {
  font-family: 'Montserrat', sans-serif;
  background-color: black;
  margin-top: 1px;
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-image: url('/src/images/hero-sm_x1.jpeg'),
    url('/src/images/allBg-sm_x1.jpeg');
  background-position: top 0px center, top 364px center;

  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url('/src/images/hero-sm_x2.jpeg'),
      url('/src/images/allBg-sm_x2.jpeg');
  }

  @media screen and (min-width: 768px) {
    background-image: url('/src/images/hero-md_x1.jpeg'),
      url('/src/images/allBg-md_x1.jpeg');

    background-position: top 0px center, top 364px center;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('/src/images/hero-md_x2.jpeg'),
        url('/src/images/allBg-md_x2.jpeg');
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url('/src/images/hero-lg_x1.jpeg'),
      url('/src/images/allBg-lg_x1.jpeg');
    min-width: 1280px;
    background-position: top 0px center, top 446px center;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url('/src/images/hero-lg_x2.jpeg'),
        url('/src/images/allBg-lg_x2.jpeg');
    }
  }
}